# Git
/.git/
/.gitattributes
/.gitignore

# GitHub
/.github/

# VSCode
/.vscode/

# Alpha
/alpha/

# Documents
/docs/

# Dependencies
/node_modules/

# Secrets
/src/config.json

# Docker
/.dockerignore
/Dockerfile
/docker-compose.yaml

# Dev tooling
/eslint.config.js
